*{
    margin: 0;
    padding: 0;
  
}
body{
    background-image: linear-gradient(rgba(233, 215, 215, 0.623),rgba(212, 196, 196, 0.877));
}
.bg-title{
    height: 100px;
    background: rgba(63, 63, 231, 0.582);
    width: 96vw;
    transform: translate(17px);
}

#logo{
    margin: 20px 0px 5px 12px;
    cursor: pointer;
}
.border{
    width: 2px;
    height: 80%;
    background-color: rgba(17, 16, 16, 0.623);
    position: relative;
    top: -73px;
    left: 17.5%;
}
.pf{
    position: absolute;
    top: 22px;
    left: 20%;
    width: 30px;
    letter-spacing: 2px;
    font:bold 22px sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.418);
}
.ps{
    position: absolute;
    top: 20px;
    left: 60%;
    background-color: rgba(41, 134, 146, 0.226);
    padding: 20px;
    border-radius: 10px;
}
#icon{
    cursor: pointer;
    position: absolute;
    top: 31px;
    left: 74.5%;
}
button{
    border: none;
    background-color: rgba(247, 18, 18, 0.548);
    height: 40px;
    width: 10%;
    text-align: right;
    padding-right: 9px;
    border-radius: 8px;
    color: white;
    font:  sans-serif;
    position: absolute;
    right: 60px;
    top: 30px;
    cursor: pointer;
}
#logout{
    position: absolute;
    right: 156px;
    top: 32px;
    cursor: pointer; 
    z-index: 1;
}
#right{
    position: absolute;
    left: 20%;
    top: 120px;
}
.pt{
    position: absolute;
    left: 23%;
    top: 130px;
    color: rgba(4, 25, 44, 0.719);
    font: italic bold 12px sans-serif;
}
.pt::after{
    content: 'Dernières activités au';
    position: absolute;
    display: block;
    padding-top: 4px;
    font: 11px sans-serif;
    color: rgba(10, 69, 124, 0.719);
}
.limg{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#last-img{
    width: 80%;
    height: 40%;
    margin-bottom: 16%;
    border-radius: 8px;
}
